{% extends "_base.html" %} 
{% load static %} {% block title %} Homepage {% endblock title %} 
{% block content %}
<h1>HomePage</h1>
<!-- <img class="bookcover" src="{% static "images/tiger.jpg" %}" alt="tiger">  -->

{% if user.is_authenticated %} <br />
Hi {{user.username}} <br />
<a href="{% url 'account_logout' %}">Log Out</a>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">Log in</a> <br />
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %} {% endblock content %}