{% extends "_base.html" %}
{% load static %} {% block title %} Homepage {% endblock title %}
{% block content %}
<h1>HomePage</h1>
<!-- <img class="bookcover" src="{% static "images/tiger.jpg" %}" alt="tiger">  -->

{% if user.is_authenticated %} <br />

<form class="form-inline mt-2 mt-md-0" method="get" action="{% url 'search_results' %}">
    <input type="text" name="q" class="form-control mr-sm-2" placeholder="Search" aria-label="Search"><i
        class="fas fa-search" aria-hidden="true"></i>
</form>

Hi {{user.email}} <br />
<a href="{% url 'account_logout' %}">Log Out</a>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">Please Log in</a> <br />
<a href="{% url 'account_signup' %}">or Sign Up</a>
{% endif %} {% endblock content %}